# dependencies
/node_modules
/.npm-cache/
/.cache/

# testing
/coverage

# builds
/.next/
/.vinext/
/out/
/dist/
/.wrangler/

# misc
.DS_Store
*.pem
/design-concepts/

# debug
npm-debug.log*

# local configuration
.env*

# typescript
next-env.d.ts
*.tsbuildinfo
